# Since we're mostly doing React Django projects, this .gitignore is tailored for that setup.

# Django Specific
*.pyc
__pycache__/
env/
db.sqlite3
staticfiles/
mediafiles/
local_settings.py
*.log

# React Specific
node_modules/
build/
package-lock.json

# OS Specific
.DS_Store
Thumbs.db

# General
*.env
*.secret